@import url(/css/sanitize.css);
@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);
@import url(https://fonts.googleapis.com/css2?family=Noto+Serif+JP&display=swap);

/* Reset */

body {
    font-family: 'Noto Serif JP', serif;
    font-size: 1.2rem;
    letter-spacing: 0.1em;
    margin: 0 auto;
    padding: 0;
    background-color: #EEEEEE;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    transition: ease 0.1s;
}

a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
}

p {
    display: block;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

ul {
    list-style-type: none;
    padding-inline-start: 0;
}
